body
{
   padding: 0;
   margin:0;
   color: #DDD7D4;
   background-color: #E2DDDA;
   /*background-image: url('images/Bottom_texture.jpg');*/
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top center;
}

blockquote
{
   border: solid 1px #332C28;
   margin: 10px;
   padding: 10px;
   background-color: #332C28;
   margin-left: 50px;
   padding-left: 47px;
   background-image: url('images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

.accontainer {
   background-color: #555;
}

.dropdown-menu {
   background-color: #F0B133;
}

.dropdown-menu a,
.dropdown-menu a {
   color: #333  !important;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-size: 13px;
   /**line-height: 150%;**/
}

.art-postcontent p
{
   margin: 12px 0 14px;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-logo-name, .art-logo-name a, .art-logo-name a:link, .art-logo-name a:visited, .art-logo-name a:hover,
.art-logo-text, .art-logo-text a, .art-logo-text a:link, .art-logo-text a:visited, .art-logo-text a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.art-postcontent a
{
   text-decoration: none;
   color: #F8D99B;
}

.art-postcontent a:link
{
   text-decoration: none;
   color: #F8D99B;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   color: #F8D99B;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   text-decoration: underline;
   color: #F8D99B;
}

.art-postcontent h1
{
   color: #F4C567;
   margin: 10px 0 0;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
}

.art-postcontent h2
{
   color: #F4C567;
   margin: 10px 0 0;
   font-size: 20px;
}


.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 20px;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
   font-size: 20px;
}

.art-postcontent h3
{
   color: #F4C567;
   margin: 10px 0 10px;
   font-size: 18px;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
   font-size: 18px;
}

.art-postcontent h4
{
   color: #F0B133;
   margin: 10px 0 0;
   font-size: 15px;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 15px;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
   font-size: 15px;
}

.art-postcontent h5
{
   color: #F0B133;
   margin: 10px 0 0;
   font-size: 14px;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
   font-size: 14px;
}

.art-postcontent h6
{
   color: #AF790D;
   margin: 10px 0 0;
   font-size: 13px;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
   font-size: 13px;
}

/* begin Menu */
/* menu structure */

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.art-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.art-hmenu li li{
   float: none;
   width: auto;
}
ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.art-hmenu, ul.art-hmenu ul {
   min-height: 0;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.art-hmenu ul.art-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.art-hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
}

/* end menu structure */

/* menu bar */

.art-nav
{
   margin:0 auto;
   min-height: 37px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.art-nav:before, .art-nav:after{
   background-image: url('images/nav.png');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

/* Landscape tablets and medium desktops */
@media (max-width: 767px) {
   .art-nav:before, .art-nav:after,
   ul.art-hmenu>li:before {
     background-image: none !important;
 }
}

.art-nav:before{
   right: 0;
}
.art-nav:after{
   width: 0;
}
/* end menu bar */
.art-nav-outer{
   position:absolute;
   width:100%;
}

/* end Menu */

/* begin MenuItem */
ul.art-hmenu>li>a
{
   position: relative;
   display: block;
   height: 37px;
   cursor: pointer;
   text-decoration: none;
   color: #F7D797;
   padding: 0 28px;
   line-height: 37px;
   text-align: center;
}

ul.art-hmenu>li>a:before, ul.art-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.art-hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.art-hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.art-hmenu>li>a.active:before {
   background-position: bottom left;
}
ul.art-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-hmenu>li>a.active {
   color: #000000;
}

ul.art-hmenu>li>a:hover:before, ul.art-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.art-hmenu>li>a:hover:after, ul.art-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a{
   color: #1D1816;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 37px;
   background: url('images/menuseparator.png') center center no-repeat;
}

ul.art-hmenu>li {
   margin-left:1px;
}
ul.art-hmenu>li:first-child {
   margin-left:0;
}

ul.art-hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 27px;
   background-image: url('images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #684808;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 27px;
   color: #000000;
   margin:0;
   padding: 0 22px;
}

.art-hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover, .art-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 27px;
   color: #000000;
   margin:0;
   padding: 0 22px;
}

.art-hmenu ul li a:hover
{
   color: #F9E2B3;
   background-position: left bottom;
   border-color: #A1700C;
   border-top-width: 1px !important;
}

.art-hmenu ul li a.art-hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.art-hmenu ul li:hover>a
{
   color: #F9E2B3;
   background-position: left bottom;
   border-color: #A1700C;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.art-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.art-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row {
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

.art-img-box {
   width: 150px;
   aspect-ratio: auto 150 / 150;
   height: 150px;
   border: 3px solid black;
   margin: 10px 10px 10px 10px;
}
